@section scripts {
    @Scripts.Render("~/bundles/app")
}
    <div class="page-header">
        <h1>Groceries2u App</h1>
    </div>
<form id="form1" runat="server">
    
    <div class="row">
        <div class="col-sm-4">
            <h2>Products</h2>
        </div>
        <div class="col-sm-8 center-block">
            <button type="button" class="btn btn-primary" data-bind="click: addProduct">Add Product</button>
            <button type="button" class="btn btn-primary" data-bind="click: sortProducts, enable: products().length > 1">Sort</button>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: products, visible: products().length > 0">
                <tr>
                    <td class="cname" data-bind="text: Name"></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-bind="click: $root.editProduct">Edit</button>
                            <button type="button" class="btn btn-default" data-bind="click: deleteProduct">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

    <div id="dialog" data-bind="jqDialog: { 'autoOpen': false, 'resizable': false, 'modal': true, 'width': '50%' },
         template: { 'name': 'descProduct', 'data': selectedProduct, if: selectedProduct }, openDialog: selectedProduct">
    </div>

    <script id="descProduct" type="text/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="panel-title">Add/Edit a product</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <p class="error" data-bind="text: error"></p>
                    <label for="text" class="col-sm-2 control-label">Name</label>
                    <input type="text" class="controls" id="text" data-bind="value: Name" placeholder="Name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: acceptChanges">Ok</button>
                    <button type="button" class="btn btn-default" data-bind="click: cancelChanges">Cancel</button>
                </div>
            </div>
        </div>
    </script>



